{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="Enter your description here" />
  <meta name="theme-color" content="#3498db">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  <!-- font style tags -->
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
  </style>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'inmapapp/css/style.css'%}" />
<link rel="stylesheet" href="{% static 'inmapapp/css/animation.css'%}"/>
  <title>Indoor mapping</title>
  
</head>

<body>
  <div id="alertContainer"></div>
  <div id="loader">
    <div id="shadow"></div>
    <div id="box"></div>
  </div>
  <div class="container-sm py-3">

    <input id="width" style="display:none;" name="width"></input>
    <input id="height" style="display:none;" name="height"></input>

    <nav class="navbar bg-light main-heading" style="font-family: 'Fredoka One', cursive">
      <div class="container-fluid justify-content-center">
        <span class="navbar-brand mb-0 h1" style="font-size: 50px"><span class="text-grad-prim">in</span><span
            class="text-grad-sec">map</span>
          <span class="text-grad-prim" style="font-size: 25px">
            tkmce
          </span>
        </span>
      </div>
    </nav>


    {% block index_page%}
    {%endblock%}






    <footer class="container py-5 footer text bg-light mt-5">
        <div class="row ">
          <div class="col-12 col-md-4 mx-auto text-center">
  
            <span class="navbar-brand mb-0 h1" style="font-size: 50px"><span class="text-grad-prim">in</span><span
                class="text-grad-sec">map</span><span class="text-grad-prim" style="font-size: 25px">
                tkmce
              </span></span>
          </div>
  
          <div class="col-12 col-md-3 mx-auto d-flex justify-content-center align-items-center flex-column">
  
            <ul class=" list-unstyled text-small">
              <h5>Pages</h5>
              <li><a class="text-muted " href="index.html">API docs</a></li>
              <li><a class="text-muted " href="projects.html">Contribute</a></li>
              <li><a class="text-muted " href="projects.html">Changelogs</a></li>
              <li><a class="text-muted " href="projects.html">Support us</a></li>
              <li><a class="text-muted " href="projects.html">Report a Bug</a></li>
              <li><a class="text-muted " href="projects.html">Developers</a></li>
  
  
  
  
            </ul>
          </div>
  
          <div class="col-12 col-md-4 mx-auto d-flex justify-content-center align-items-center flex-column">
  
            <ul class="list-unstyled text-small ">
              <h5>Contact Us</h5>
              <li><a class="text-muted " href="# ">sjts007@gmail.com</a></li>
              <li><a class="text-muted " href="# ">+91 6282143473</a></li>
              <li><a class="text-muted " href="# ">TKMCE,Kollam,691005</a></li>
  
            </ul>
  
          </div>
        </div>
      </footer>
  </div>
    <script>
      const loader = document.getElementById("loader");
      
      // When the page finishes loading, hide the loader
      window.onload = function() {
        loader.style.display = "none";
        
      }
      var currentUrl = window.location.origin + window.location.pathname;
      document.getElementById("current-url").innerHTML = currentUrl;
      function copyText() {
        // Get the text to copy
        var text = document.getElementById("copyText").innerText;
        if (navigator.share) {
          navigator.share({
            title: 'This is my location',
            text: "Hey I'm here, come find me!",
            url: text
          })
          .then(() => console.log('Shared successfully'))
          .catch((error) => console.error('Error sharing:', error));
      } else {
        // Fallback to copy the URL to clipboard
        
        navigator.clipboard.writeText(text)
         // .then(() => alert('URL copied to clipboard'))
          var alertContainer = document.getElementById("alertContainer");
          var alert = document.createElement("div");
          alert.classList.add("alert", "alert-success");
          alert.setAttribute("role", "alert");
          alert.innerText = "Copied to clipboard!";

          // Append alert to container
          alertContainer.appendChild(alert);
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
         // .catch((error) => console.error('Error copying URL to clipboard:', error));
      }
    }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  </body>
  
  </html>